/* Base attributes for nubblish formatting. */
body, form, ul {
	font-size: 16px;
	background-color: #000000;
	color: #ffffff;
	margin: 0;
	padding: 0;
}
h1, h2, p {
	color: inherit;
	margin: 21px;
}
ul {
	margin: inherit;
	padding: inherit;
	font-size: inherit;
	list-style-type: none;
}
a {
	position: relative;
	text-align: center;
	width: inherit;
	height: inherit;
	color: inherit;
}

/* Header stuff. */
#header {
	width: 100%;
	height: auto;
	text-size: 300%;
	background-position: bottom;
	color: #57595d;
}
img.logo {
	text-align: center;
	width: 100%;
	max-height: 30%;
}
.navbar {
	color: #d8bfd8;
	text-align: right;
	max-width: 100%;
	margin: 0 180px;
	padding: 0;
}
.navbar > li {
	display: inline-block;
	color: inherit;
	min-width: 12%;
	text-width: 300%;
	margin: 0 25px;
	/* IE7 hack to mimic inline-block on block elements */
	*display: inline;
	*zoom: 1;
}
/* Footer stuff. */
#footer {
	width: 100%;
	height: auto;
	background-position: bottom;
	color: #d8bfd8;
}
.m-footer_title {
	font-size: 240%;
	color: #57595d;
}


/* Layout-level stuff. */
.l-block {
	display: block;
	background-color: inherit;
	color: inherit;
	margin: 42px;
	padding: 0;
}

.l-grey_block {
	display: block;
	background-color: #57595d;
	color: inherit;
	margin: 42px;
	padding: 0;
}

.l-blog {
	max-width: 100%;
	padding: 21px 42px;
	background-color: inherit;
	text-size: 300%;
	list-style-type: none;
}
.l-blog > li {
	vertical-align: left;
	border-left: 6px solid #f05e23;
	border-bottom: 3px dotted #2b2d2f;
	margin: 6px 42px;
	padding: 9px 42px 9px;
	*zoom: 1;
}

.l-grid {
	max-width: 100%;
	margin: 21px 90px;
	padding: 10px 50px;
	list-style-type: none;
}
.l-grid > li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 12%;
	margin: 42px 64px;
	text-align: center;
	/* IE7 hack to mimic inline-block on block elements */
	*display: inline;
	*zoom: 1;
}

/* Module-level stuff. */
.m-title {
	font-size: 420%;
	color: #f05e23;
}
.m-grid_item_label {
	bottom: 0px;
	color: #ffffff;
	position: absolute;
}

a.m-project_link:link {
	text-decoration: bold, italic;
}
img.m-grid_item {
	max-width: inherit;
	max-height: inherit;
}
img.m-list_item {
	max-width: 100%;
	max-height: 100%;
}


